.imagebox {
  width: 290px;
  height: 290px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
#appmenu {
  width: 290px;
}
#appmenu .item {
  cursor: pointer;
}
